.main{
    display: flex;
    height:80vh;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%;
    border-style: solid;
    border-radius: 10px ;
}

.iniciar{
    color: white;
    background-color: blue;
    height: 5%;
    width: 20%;
    border-radius: 15px;
}