.partida-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    color: rgb(255, 255, 255);
}

.info-panel {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    border: 5px solid #444;
    border-radius: 5px;
}

.celda {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    /* Tamaño ajustado de la pieza */
    cursor: pointer;
    user-select: none;
}

.celda-clara {
    background-color: #f0d9b5;
    /* Color madera clara */
}

.celda-oscura {
    background-color: #b58863;
    /* Color madera oscura */
}

/* --- Estilos para las piezas --- */
.pieza-blanca {
    color: #ffffff;
    /* Delineado negro para que no se pierda en cuadros claros */
    -webkit-text-stroke: 1.5px #616161;
    text-shadow: 0px 3px 4px rgba(255, 255, 255, 0.4);
}

.pieza-negra {
    color: #111111;
    /* Delineado blanco sutil para que resalte en los cuadros oscuros */
    -webkit-text-stroke: 1px #616161;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
}

/* --- Estado: Celda seleccionada --- */
.celda-seleccionada {
    outline: 4px solid #ffeb3b; 
    outline-offset: -4px;
    z-index: 10;
    background-color: rgba(255, 235, 59, 0.4);
}

.opciones {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}